
$blueDark:#034b66;
$blue: #1a73e8;
$green:#009879;


// =============================
//      Partials Inport
// =============================

@import "components/navbar";
@import "components/carousel";
@import "components/footer";
@import "components/login";


//             Pages:
@import "components/subjects_list";
@import "components/review";
@import "components/grade";
@import "components/add_new";
@import "components/change_pw";
@import "components/upload";


//  used to help debuging
// * {
//   border: 1px solid #ff0000;
// }
