
$blueDark:#034b66;
$blue: #1a73e8;
$green:#009879;


// =============================
//        Media Queries
// =============================
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

// =============================
//      Partials Inport
// =============================

@import "components/navbar";
@import "components/footer";
@import "components/carousel";
@import "components/login";


//             Pages:



//  used to help debuging
// * {
//   border: 1px solid #ff0000;
// }
