
$blueDark:#034b66;
$blue: #1a73e8;
$green:#009879;


// =============================
//      Partials Inport
// =============================

@import "components/navbar";
@import "components/carousel";
@import "components/footer";


//             Pages:
@import "components/login";
@import "components/teacher_subjects_list";
@import "components/teacher_review";
@import "components/teacher_grade";
@import "components/teacher_add_project";
@import "components/change_pw";
@import "components/student_upload";
// @import "components/admin_add_account";
@import "components/student_page";
@import "components/add_account";


//  used to help debuging
// * {
//   border: 1px solid #ff0000;
// }
