.filterDiv {

    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  

  .btn {
    // border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    
  }
  
  /* Style the active class, and buttons on mouse-over */
 .btn:hover {
    background-color: white;
    color: black;
    border-radius: blue!important;
  }