
.footer_change_pw {

    margin-top: 93px;
 }

 .change_pw{ 
    margin-top: 10px;

     div{
         border-radius: 20px;
     }
     h1{
     font-size: 55px;

    }
    p{
        font-size: larger;
    }
 }


 .submit_btn{
    border-radius: 20px;
    max-width: 300px;
    margin: auto;
  }