



.footer_change_pw {

    margin-top: 93px;
}

.change_pw{
    h1{
    font-size: 55px;
    }
    p{
        font-size: larger;
    }
}
.change_pw_field{
    border-radius: 20px!important;
}

.change_pw_submit{
    border-radius: 20px!important;
    max-width: 250px;
    margin: auto;
    height: 60px;
    font-size: x-large;
    
}