#inputGroupSelect01{
    padding: 10px 10px 10px 10px;
    margin: 10px;
    width:400px;
    border-radius:20px;
    border:2px solid black;
    option{
        border-radius:20px;
    }
}



.list-subjects{
    .linie1::after{
        content: "";
        border: 1px solid;
        color:black;
        height: 1px;
        width: 250px;
        left: 280px;
        top: 450px;
        position: absolute;
        border-radius: 20px;
    }
    .inner-skill{
        background:black;
        border: 1px solid;
        height: 1px;
        width: 250px;
        left: 280px;
        top: 450px;
        position: absolute;
        border-radius: 20px;
    }

    h3{
        text-transform: uppercase;
        color:black;
        margin-top:4%;
        font-size:40px;
    }

    .linie2::after{
        content: "";
        border: 1px solid;
        color:black;
        height: 1px;
        width: 250px;
        left: 1300px;
        top: 450px;
        position: absolute;
        border-radius: 20px;
    }
    .inner-skil1{
        background:black;
        border: 1px solid;
        height: 1px;
        width: 250px;
        left: 1300px;
        top: 450px;
        position: absolute;
        border-radius: 20px;
    }
}

.content-table{
    margin-top: 4%;
    border-collapse: collapse;
   margin-left:4.6%;
   width: 1000px;
   color:black;
   font-size:20px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 20px 20px 20px rgba(0 ,0 ,0,0.15);
   thead{
       tr{
           background : #009879;
           color: white;
           th{
            padding: 12px 25px; 
            text-transform: uppercase;;
           }
           
       }
   }

  tbody{
      tr{
          border-bottom:1px solid #dddddd;
          
          td{
            padding: 12px 90px;
           
            
          }
      }
  }

  tbody{
      tr:first-of-type{
          background-color:#f3f3f3;
      }
  }

  tbody{
    tr:last-of-type{
       border-bottom:2px solid #009879;
    }
}
   

}