.main_text1{
    h1{
        margin-top:1%;
        font-size: 75px;
        color: black;
    }

    h4{
        margin-left: -10%;
        color:black;
    }

   h5{
       margin-left: -15.2%;
       font-size: 23px;
       color:black;
   }
    
}


.list-subjects1{
    .linie1::after{
        content: "";
        border: 1px solid;
        color:black;
        height: 1px;
        width: 13%;
        left: 26%;
        top: 43%;
        position: absolute;
        border-radius: 20px;
    }
    .inner-skill{
        background:black;
        border: 1px solid;
        height: 1px;
        width: 13%;
        left: 26%;
        top: 43%;
        position: absolute;
        border-radius: 20px;
    }

    h3{
        text-transform: uppercase;
        color:black;
        margin-top:4%;
        font-size:40px;
    }

    .linie2::after{
        content: "";
        border: 1px solid;
        color:black;
        height: 1px;
        width: 13%;
        left: 61%;
        top: 43%;
        position: absolute;
        border-radius: 20px;
    }
    .inner-skil1{
        background:black;
        border: 1px solid;
        height: 1px;
        width: 13%; 
        left: 61%;
        top: 43%;
        position: absolute;
        border-radius: 20px;
    }
}

.content-table1{
    
   font-size:20px;
   border-radius: 5px 5px 0 0;
   box-shadow: 4px 4px 4px rgba(0 ,0 ,0,0.15);
   thead{
       tr{
           background : #009879;
           color: white;
           th{
            text-transform: uppercase;;
           }
           
       }
   }

  tbody{
      tr{
          border-bottom:1px solid #dddddd;
          
       
      }
  }

  tbody{
      tr:first-of-type{
          background-color:#f3f3f3;
      }
  }

  tbody{
    tr:last-of-type{
       border-bottom:2px solid #009879;
    }
}
   

}
