.main_text4{
    h1{
        margin-top: 2%;
        font-size: 55px;
        color:black;
    }
}

 
    .button3{
        height: 40px;
        width: 140px;
        border-radius: 30px;
        border:none;
        background-color: #45aaf2;
        cursor: pointer;
    }

.form-control{
    border-radius: 20px;
}
    
 .submit_btn{
    border-radius: 20px;
    max-width: 300px;
    margin: auto;
  }

@media only screen and(max-width:770px){
    .main_text4{
        h1{
            margin-top: 2%;
            font-size: 35px;
            color:black;
        }
    }
    
    .TEXT_BOX{
        margin-top:2%;
        .form-con1{
            font-size:12px;
            width: 220px;
            padding: 4px 120px 4px 4px;
            border-radius: 20%;
            border-radius: 20px;
            border:1px solid black;
    
        }
        .form-con2{
            font-size:12px;
            width: 220px;
            padding: 4px 120px 4px 4px;
            border-radius: 20%;
            border-radius: 20px;
            border:1px solid black;
        }
        .form-con3{
            font-size:20px;
            padding: 10px 10px 90px 10px;
            width: 600px;
            border-radius: 20%;
            border-radius: 20px;
            border:1px solid black;
        }
        .button3{
            height: 30px;
            width: 90px;
            border-radius: 30px;
            border:none;
            background-color: #45aaf2;
            cursor: pointer;
        }
    }

}


.new_project{
    max-width: 400px!important;
}