.align_center_teacher{  
    float:left;    
    margin-left: 20%;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    

    b{
        color: $green;
    }
}

.table_tile{
    color: black;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}


.main_text1{
    h1{
        margin-top:1%;
        font-size: 50px; 
        color: black;
        text-align:center;
    }

    h4{
        font-size: 20px;
        color:black;
        text-align:center;
    }

   h5{
       font-size: 23px;
       color:black;
       text-align:center;
   }
    
}


.list-subjects1{

    h3{
        color:black;
        margin-top:4%;
        font-size:40px;
    }
}

.content-table1{
 
   font-size:18px;
   border-radius: 5px 5px 0 0;
   box-shadow: 4px 4px 4px rgba(0 ,0 ,0,0.15);
   thead{
       tr{
           background : #009879;
           color: white;
           th{
            text-transform: uppercase;;
           }
           
       }
   }

  tbody{
      tr{
          border-bottom:1px solid #dddddd;
          
       
      }
  }

  tbody{
      tr:first-of-type{
          background-color:#f3f3f3;
      }
  }

  tbody{
    tr:last-of-type{
       border-bottom:2px solid #009879;
    }
}
   

}





@media only screen and(max-width:770px){
    .align_center_teacher{  
        float:left;    
        margin-left: 30%;
        font-weight: bold;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        
    
        b{
            color: $green;
        }
    }
    .main_text1{
        h1{
            margin-top:1%;
            font-size: 50px;
            color: black;
            text-align:center;
        }
    
        h4{
            font-size: 20px;
            color:black;
            text-align:center;
        }
    
       h5{
           font-size: 20px;
           color:black;
           text-align:center;
       }
        
    }

    .content-table1{
        
        font-size:15px;
        border-radius: 5px 5px 0 0;
        box-shadow: 4px 4px 4px rgba(0 ,0 ,0,0.15);
        thead{
            tr{
                background : #009879;
                color: white;
                th{
                 text-transform: uppercase;;
                }

            }
        }
        tbody{
            tr{
                td{
                    padding: 7px!important;  

                }
            }
        }
    }
    
}




@media only screen and(min-width:770px){
    .align_center_teacher{  
        float:left;    
        margin-left: 35%;
        font-weight: bold;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        
    
        b{
            color: $green;
        }
    }

}

@media only screen and(min-width:1200px){
    .align_center_teacher{  
        float:left;    
        margin-left: 40%;
        font-weight: bold;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        
    
        b{
            color: $green;
        }
    }
}

@media only screen and(min-width:502px){


    .content-table1{
        
        font-size:15px;
        border-radius: 5px 5px 0 0;
        box-shadow: 4px 4px 4px rgba(0 ,0 ,0,0.15);
        thead{
            tr{
                background : #009879;
                color: white;
                th{
                    text-transform: uppercase;
                   
                }
                
            }
        }
    }

    .main_text1{
        h1{
            margin-top:1%;
            font-size: 50px;
            color: black;
        }
    
        h4{
            color:black;
        }
    
       h5{
           font-size: 20px;
           color:black;
       }
        
       .list-subjects1{
            h3{
                color:black;
                margin-top:4%;
                font-size:40px;
            }
         }
    }

    .small_th{
        width:150px !important;  
    }

    .padding_20_column{
        padding-left: 20px!important;

    }

}